@model IEnumerable<CRUD_Owners_RealState.Models.Property>

@{
    ViewBag.Title = "ViewProperties";
}

<h2>ViewProperties</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.PlotNo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PropertyType)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PropertyStatus)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.PlotNo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PropertyType)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PropertyStatus)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.PropertyID },new {@class = "btn btn-info btn-rounded" })
            @Html.ActionLink("Print", "Details", new { id=item.PropertyID }, new { @class = "btn btn-info btn-rounded" })
            @Html.ActionLink("Sell", "ViewOwners","Owner", new { propertyId = item.PropertyID , isSelectionMode = true}, new { @class = "btn btn-success" })
        </td>
    </tr>
}

</table>
