@model IEnumerable<CRUD_Owners_RealState.Models.Nominee>

@{
    int propertyId = ViewBag.PropertyID;
    int ownerId = ViewBag.OwnerID;
}

@{
    ViewBag.Title = "ViewNominees";
}

<h2>ViewNominees</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Owner.FirstName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CNIC)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Relation)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SODOWO)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DOB)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CellNo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Gender)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Address)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ImagePath)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Owner.FirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CNIC)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Relation)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SODOWO)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DOB)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CellNo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Gender)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Address)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ImagePath)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.NomineeId }) |
                @*@Html.ActionLink("Confirm", "ConfirmSale", controllerName: "Nominee", new { ownerId = ownerId, propertyId = propertyId }, new { @class = "btn btn-success" })*@
                <a href="@Url.Action("ConfirmSale", "Nominee", new { ownerId = ownerId, propertyId = propertyId  })" class="btn btn-success">Confirm</a>

            </td>
        </tr>
    }

</table>
